body {

	background-color: #000000;
	color: #FFF;
}

#body_col {

	max-width: 900px;
	margin: 0px auto;
	padding: 20px;
	/* background-color: blue; */
}

#nav {

	margin: 20px auto;
	padding: 0px;
	width: 40%;
}

#nav li {

	display: inline;
	padding: 0px 10px;
	margin: 0px;
	border: 1px dashed #FFFFFF;
	color: #FFFFFF;
}

#thecarousel .welcome {

	width: 95%;
	height: 50vh;
	margin: 0px;
	padding: 15px;
	background-color: #000000;
	border: 1px solid #FFFFFF;
}

.welcome .logo { float: left; }

.welcome .next_info {

	float: left;
	width: 300px;
	margin: 0px 30px;
	font-size: 175%;
}

/* PRINT VERSION */
@media print {

}

/* PHONE VERSION */
@media only screen and (min-width: 320px) {

}

/* TABLET VERSION */
@media only screen and (min-width: 768px) {

}

/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {

}
