@font-face {

	font-family: "stencam";
	src: url("fonts/stencam.ttf") format('ttf');
	font-weight: bold;
}

body {

	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {

	font-family: "stencam";
	font-weight: bold;
}

#body_col {

	text-align: left;
	max-width: 900px;
	margin: 0px auto;
	padding: 20px;
	/* background-color: blue; */
}

#nav {

	margin: 20px auto;
	padding: 0px;
	width: 40%;
}

#nav li {

	display: inline;
	padding: 0px 10px;
	margin: 0px;
	border: 1px dashed #FFFFFF;
	color: #FFFFFF;
	font-size: 150%;
}

#thecarousel .welcome,
#thecarousel .bannerslide {

	width: 95%;
	height: 70vh;
	margin: 0px 0px 0px 15px;
	padding: 15px;
	background-color: #000000;
	border: 1px solid #FFFFFF;
}

.bannerslide { background: url("img/dc201logo.png") #FFF center/75% no-repeat; }

.welcome .logo { float: left; }

.welcome .next_info {

	float: left;
	width: 300px;
	margin: 0px 30px;
	font-size: 175%;
}

#faq { text-align: justify; }

/* PRINT VERSION */
@media print {

}

/* PHONE VERSION */
@media only screen and (min-width: 320px) {

}

/* TABLET VERSION */
@media only screen and (min-width: 768px) {

}

/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {

}
